<div class="container">
  <div class="component">
    <pButton></pButton>
  </div>
  <hr />
  <div class="component">
    <checkbox></checkbox>
  </div>
  <hr />
  <div class="component">
    <pDialog></pDialog>
  </div>
  <hr />
  <div class="component">
    <dropdown></dropdown>
  </div>
  <hr />
  <div class="component">
    <inputText></inputText>
  </div>
  <hr />
  <div class="component">
    <picklist></picklist>
  </div>
  <hr />
  <div class="component">
    <radioButton></radioButton>
  </div>
  <hr />
  <div class="component">
    <dataTable></dataTable>
  </div>
  <hr />
  <div class="component">
    <tabview></tabview>
  </div>
  <hr />
  <div class="component">
    <tree></tree>
  </div>
  <hr />
</div>