<p-dataTable [value]="sourceItems" sortMode="multiple" [responsive]="true" [rows]="5" [paginator]="true" expandableRows="true">
    <p-column expander="true" styleClass="col-icon"></p-column>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
    <ng-template let-item pTemplate="rowexpansion">
        <p-dataTable [value]="item.detail">
            <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
        </p-dataTable>
    </ng-template>
</p-dataTable>